sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
html,body{margin:0;padding:0;background:#464646;}
video{background-color: rgb(0, 0, 0); width: 720px; height: 420px;}
audio{top: 380px;left:0;position: relative;width: 100%;height: 40px;}
@-moz-document url-prefix() { audio { background: rgba(0,0,0,.8); } }
.stl_02 {
	height: 65em;
	font-size: 1em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 719px;
	margin:170px auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	overflow:hidden;
	background:#fff;
	transform:scale(1.15);	
}
.stl_02:first-child{margin-top:90px;}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 45em;
}
.stl_06 {
	height: 6.5em;
}
.ie .stl_06 {
	height: 65em;
}

.stl_07 {
	font-size: 5em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.319824em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}

.stl_10 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_11 {
	letter-spacing: -0.0012em;
}

.ie .stl_11 {
	letter-spacing: -0.0155px;
}

.stl_12 {
	font-size: 0.75em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}

.stl_13 {
	font-size: 5em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.277344em;
}

.stl_15 {
	font-size: 3em;
	font-family: "STZhongsong", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.137em;
}
.stl_17 {
	letter-spacing: 0.0004em;
}

.ie .stl_17 {
	letter-spacing: 0.018px;
}
.stl_18 {
	font-size: 1em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}
.stl_19 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #EC7C30;
}
.stl_20 {
	letter-spacing: -0.001em;
}

.ie .stl_20 {
	letter-spacing: -0.014px;
}

.stl_21 {
	font-size: 0.665em;
	font-family: "Microsoft YaHei";
	color: #767070;
}
.stl_22 {
	letter-spacing: 0.0001em;
}

.ie .stl_22 {
	letter-spacing: 0.0012px;
}
.stl_23 {
	letter-spacing: -0.0003em;
}

.ie .stl_23 {
	letter-spacing: -0.0032px;
}
.stl_24 {
	font-size: 2em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #848484;
}
.stl_25 {
	font-size: 1.665em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #848484;
}
.stl_26 {
	font-size: 1.5em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}
.stl_27 {
	letter-spacing: -0.0004em;
}

.ie .stl_27 {
	letter-spacing: -0.0103px;
}
.stl_28 {
	font-size: 1.5em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_29 {
	font-size: 1.335em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_30 {
	letter-spacing: -0.0005em;
}

.ie .stl_30 {
	letter-spacing: -0.0103px;
}
.stl_31 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #000000;
}
.stl_32 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei";
	color: #AFABAB;
}
.stl_33 {
	font-size: 0.75em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #767070;
}
.stl_34 {
	letter-spacing: -0.0002em;
}

.ie .stl_34 {
	letter-spacing: -0.005px;
}
.stl_35 {
	font-size: 0.75em;
	font-family: "Microsoft YaHei";
	color: #767070;
}

.stl_36 {
	font-size: 0.75em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #000000;
}
.stl_37 {
	font-size: 0.75em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #000000;
}
.stl_38 {
	letter-spacing: -0.0029em;
}

.ie .stl_38 {
	letter-spacing: -0.0694px;
}
.stl_39 {
	letter-spacing: -0.0032em;
}

.ie .stl_39 {
	letter-spacing: -0.0694px;
}
.stl_40 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei";
	color: #000000;
}
.stl_41 {
	font-size: 0.665em;
	font-family: "Microsoft YaHei";
	color: #898989;
}
.stl_42 {
	font-size: 1.5em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #EC7C30;
}
.stl_43 {
	font-size: 1.5em;
	font-family: "Microsoft YaHei";
	color: #EC7C30;
}
.stl_44 {
	font-size: 1.335em;
	font-family: "Microsoft YaHei";
	color: #EC7C30;
}
.stl_45 {
	font-size: 0.665em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_46 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #595959;
}
.stl_47 {
	font-size: 1.665em;
	font-family: "STZhongsong", "Times New Roman";
	color: #000000;
}
.stl_48 {
	letter-spacing: -0.0017em;
}

.ie .stl_48 {
	letter-spacing: -0.0229px;
}
.stl_49 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei";
	color: #595959;
}
.stl_50 {
	letter-spacing: -0.0009em;
}

.ie .stl_50 {
	letter-spacing: -0.0126px;
}
.stl_51 {
	letter-spacing: -0.0016em;
}

.ie .stl_51 {
	letter-spacing: -0.0219px;
}
.stl_52 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #F2F2F2;
}
.stl_53 {
	letter-spacing: -0.0001em;
}

.ie .stl_53 {
	letter-spacing: -0.0008px;
}
.stl_54 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei";
	color: #F2F2F2;
}
.stl_55 {
	letter-spacing: -0.0006em;
}

.ie .stl_55 {
	letter-spacing: -0.008px;
}
.stl_56 {
	font-size: 1.665em;
	font-family: "STZhongsong", "Times New Roman";
	color: #FFFFFF;
}
.stl_57 {
	font-size: 0.835em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}
.stl_58 {
	letter-spacing: -0.0019em;
}

.ie .stl_58 {
	letter-spacing: -0.0256px;
}
.stl_59 {
	letter-spacing: -0.0015em;
}

.ie .stl_59 {
	letter-spacing: -0.0207px;
}
.stl_60 {
	font-size: 1em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #595959;
}
.stl_61 {
	letter-spacing: -0.0011em;
}

.ie .stl_61 {
	letter-spacing: -0.0141px;
}
.stl_62 {
	letter-spacing: -0.0007em;
}

.ie .stl_62 {
	letter-spacing: -0.01px;
}
.stl_63 {
	letter-spacing: -0.0008em;
}

.ie .stl_63 {
	letter-spacing: -0.0107px;
}
.stl_64 {
	font-size: 1.665em;
	font-family: "Microsoft YaHei", "Times New Roman";
	color: #FFFFFF;
}
.stl_65 {
	letter-spacing: -0.0026em;
}

.ie .stl_65 {
	letter-spacing: -0.0341px;
}
.stl_66 {
	letter-spacing: -0.0013em;
}

.ie .stl_66 {
	letter-spacing: -0.0172px;
}
.stl_67 {
	letter-spacing: -0.0021em;
}

.ie .stl_67 {
	letter-spacing: -0.0283px;
}
.stl_68 {
	font-size: 1em;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}
.stl_69 {
	letter-spacing: -0.0014em;
}

.ie .stl_69 {
	letter-spacing: -0.0193px;
}
